@font-face {
	font-family:'P';
	src: url('../fonts/p-Regular_gdi.eot');
	src: url('../fonts/p-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/p-Regular_gdi.woff') format('woff'),
		url('../fonts/p-Regular_gdi.ttf') format('truetype'),
		url('../fonts/p-Regular_gdi.svg#P-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Akrobat';
	src: url('../fonts/Akrobat-Bold.eot');
	src: url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Bold.woff') format('woff'),
		url('../fonts/Akrobat-Bold.ttf') format('truetype'),
		url('../fonts/Akrobat-Bold.svg#Akrobat-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Akrobat';
	src: url('../fonts/Akrobat-Black.eot');
	src: url('../fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Black.woff') format('woff'),
		url('../fonts/Akrobat-Black.ttf') format('truetype'),
		url('../fonts/Akrobat-Black.svg#Akrobat-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'KingBasil';
	src: url('../fonts/KingBasilLite-Regular.eot');
	src: url('../fonts/KingBasilLite-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KingBasilLite-Regular.woff') format('woff'),
		url('../fonts/KingBasilLite-Regular.ttf') format('truetype'),
		url('../fonts/KingBasilLite-Regular.svg#KingBasilLite-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #ffffff;
/*	background: #b9d4e8;*/
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'P', sans-serif;
}

input {
	-webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body.prevent-scroll {
	overflow: hidden;
}
body.prevent-scroll .page-wrapper {

}

a {
	text-decoration: none;
}

::selection {
	position: relative;
	background: rgba(211, 49, 80, 0.7);
}
::-moz-selection {
	background: rgba(211, 49, 80, 0.7);
}

preload-component {
	display: block;
	min-height: 100%;
}
.page-wrapper {
	position: relative;
	overflow: hidden;
	min-width: 320px;
}
.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
header {
	position: fixed;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	z-index: 1000;
}
header .side-nav {
	position: absolute;
	right: 0;
}
.desktop-nav {
	position: absolute;
	right: 20px;
	bottom: 26px;
}
.desktop-nav .item {
	margin-bottom: 18px;
}
.desktop-nav .link-wrap {
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
	overflow: hidden;
}
.desktop-nav .link-wrap.active {
	cursor: default;
}
.desktop-nav .link-wrap .sw {
	position: relative;
	display: inline-block;
}
.desktop-nav .link-wrap:before {
	content: "";
	position: absolute;
	left: -1px;
	right: -3px;
	top: 9px;
	bottom: 6px;
	transition: all 0.07s;
	background: #040406;
}
.desktop-nav .link-wrap .sw:after {
	content: "";
	position: absolute;
	left: -4px;
	right: -1px;
	top: 9px;
	bottom: 6px;
	background: #040406;
	z-index: -1;
}
.desktop-nav .link-wrap:before {
	transition: all 0.07s;
}
.desktop-nav .link-wrap:hover:before,
.desktop-nav .link-wrap.active:before {
	transition: all 0.07s;
	background: #c1b700;
}
.desktop-nav .link-wrap .sw:after {
	transition: all 0.07s;
}
.desktop-nav .link-wrap:hover .sw:after {
	transition: all 0.07s ease 0.07s;
	opacity: 0;
}
.desktop-nav .link-wrap.active .sw:after {
	transition: all 0.07s ease 0s;
	opacity: 0;
}
.desktop-nav .link {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 36px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	color: #ffffff;
	z-index: 2;
}

.wrapper {
	position: relative;
	width: calc(100% - 60px);
	max-width: 1210px;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	.wrapper {
		width: calc(100% - 120px);
	}
}
@media screen and (min-width: 1000px) {
	.wrapper {
		width: calc(100% - 160px);
	}
}

full-height {
	display: block;
	height: 100vh;
}

.full-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}


.stage {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	overflow: hidden;
}
.stage .wrapper {
	height: 100%;
}
.stage .name {
	position: absolute;
	top: calc(60px + 5%);
	line-height: 0.83;
	font-family: 'KingBasil';
	font-size: 120px;
	color: #040406;
	z-index: 3;
}
.stage .name svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.stage .name .tx {
	font-size: 120px;
	font-family: "KingBasil";
}
.stage .name path {
	stroke: #040406;
	stroke-width: 26px;
	fill: none;
	stroke-linecap:  round;
} 
.stage .name .svg-top {
	position: absolute;
	top: -25px;
	left: -5px;
	width: 160px;
	height: 90px;
}
.stage .name .svg-bot {
	position: absolute;
	top: 27px;
	left: -10px;
	width: 200px;
	height: 95px;
}
@media screen and (min-width: 640px) {
	.stage .name {
		top: auto;
		bottom: calc(450px + 7%);
	}
	.stage .name .svg-top {
		top: -25px;
		left: -5px;
		width: 230px;
		height: 90px;
	}

	.stage .name .svg-bot {
		top: 48px;
		left: -10px;
		width: 290px;
		height: 95px;
	}
}
@media screen and (min-width: 1200px) {
	.stage .name .svg-top {
		top: -25px;
		left: -5px;
		width: 346px;
		height: 137px;
	}
	.stage .name .svg-bot {
		top: 78px;
		left: -5px;
		width: 422px;
		height: 143px;
	}
}
.page-inner .stage .name {
	top: 234px;
	left: -10px;
}
.page-inner .stage .name .svg-top {
	top: -25px;
	left: -5px;
	width: 230px;
	height: 90px;
}
.page-inner .stage .name .svg-bot {
	top: 48px;
	left: -10px;
	width: 290px;
	height: 95px;
}



.stage full-text {
	position: absolute;
	left: -52px;
	font-family: 'Akrobat', sans-serif;
	font-size: 313px;
	font-weight: 900;
	line-height: 0.9;
	color: #eaf6ff;
}
.page-inner .stage full-text {
	color: #ffffff;
}


.stage .photo {
	position: absolute;
	right: -500px;
	left: -500px;
	height: calc(100% - 50px);
	margin: auto;
	bottom: -50px;
	z-index: 1;
	opacity: 0.8;
}
.stage .photo img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.stage .bg-blured {
	position: absolute;
	bottom: 25%;
	left: 35%;
	font-family: 'Akrobat', sans-serif;
	font-size: 56px;
	line-height: 0.85;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	opacity: 0.6;
	filter: blur(3.5px);
}
@media screen and (min-width: 640px) {
	.stage .photo {
		width: 1015px;
		height: calc(100% + 150px);
		left: auto;
		right: -300px;
		bottom: -150px;
		opacity: 1;
	}
}
@media screen and (min-width: 1000px) {
	.stage .photo {
		width: 1015px;
		right: -16%;
	}
}
@media screen and (min-width: 1200px) {

}

.stage .bg-arrow {
	position: absolute;
	bottom: calc(365px + 7%);
	left: 375px;
	width: 331px;
	height: 38px;
	background: url(../images/arrow.png);
	display: none;
}
@media screen and (min-width: 1200px) {
	.stage .bg-arrow {
		display: block;
	}
}
.stage .scroll-button-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 21px;
	z-index: 10;
}

section {
	position: relative;
}
section .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

p {
	line-height: 1.75;
	margin-bottom: 30px;
}



.scroll-button-wrapper {
	text-align: center;
}
.scroll-button {
	display: inline-block;
	position: relative;
	padding-right: 40px;
	padding-bottom: 25px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
}
.scroll-button:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: -20px;
	width: 126px;
	height: 9px;
	background: url(../images/underline.png);
}
.scroll-button:after {
	content: "";
	position: absolute;
	right: 5px;
	top: 0;
	width: 23px;
	height: 17px;
	background: url(../images/arr-right.svg);
}

.button {
	display: inline-block;
	position: relative;
	padding: 15px 45px;
	border-radius: 28px;
	font-family: 'Akrobat', sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #ffffff;
	background: #d33150;
	box-shadow: 
		0px 15px 40px 0px rgba(211, 49, 80, 0.55),
		inset 0px 0px 0px 0px rgba(185, 212, 232, 0);
	transition: all 0.1s;
}
.button:hover {
	background: #c1b700;
	box-shadow: 
		0px 10px 14px 0px rgba(193, 183, 0, 0.35),
		inset 0px 5px 10px 0px rgba(185, 212, 232, 0.3);
	transition: all 0.05s;
}


.l {
	box-sizing: border-box;
	float: left;
}
.r {
	box-sizing: border-box;
	float: right;
}

slide-scroll {
	position: relative;
	display: block;
	height: 100vh;
	overflow: hidden;
}
slide-scroll .slide-scroll-wrapper {
	transition: all 0s;
}
/*slide-scroll .slide-scroll-wrapper {
	-webkit-overflow-scrolling: touch;
}
*/
section .wrapper {
	height: 100%;
	box-sizing: border-box;
}
.home {
	z-index: 50;
	position: relative;
}
.home .text {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	max-width: 330px;
}
.home .text .btn-wrap {
	text-align: center;
}

@media screen and (min-width: 640px) {
	.home .text {
		right: auto;
	}
	.home .text .btn-wrap {
		text-align: left;
	}
}
@media screen and (min-width: 1200px) {
	.home .text {
		bottom: 110px;
	}
}

.about {
	z-index: 50;
	position: relative;
}
.about .text {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	max-width: 330px;
}
.about .text .btn-wrap {
	text-align: center;
}
@media screen and (min-width: 640px) {
	.about .text {
		right: auto;
	}
	.about .text .btn-wrap {
		text-align: left;
	}
}
@media screen and (min-width: 1200px) {
	.about .text {
		bottom: 110px;
	}
}



.wrapper {
/*	outline: 1px solid;*/
}

.project-slider {
	position: relative;
}
.project-slider .inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.project-slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.project-slider img {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}


.interior {
	padding-top: 490px;
}
.interior .l {
	outline: 1px solid;
	padding-right: 30px;
	width: 31.5%;
}
.interior .r {
	outline: 1px solid;
	width: 68.5%;
}
.interior .project-slider {
	width: 100%;
	height: 395px;
}


.csstransitions preload-component {
	transition:  all 0.4s;
	opacity: 0;
}
.csstransitions preload-component.load-complete-once {
	opacity: 1;
}
.csstransitions .desktop-nav {
	will-change: transform;
	opacity: 0;
	transform: translateX(-3px);
}
.csstransitions .load-complete-once .desktop-nav {
	will-change: auto;
	transition:  all 0.3s ease-out 1.5s;
	transform: translateX(0px);
	opacity: 1;
}


.csstransitions .stage .photo {
	will-change: transform;
	transform: translateX(3px);
}
.csstransitions .load-complete-once .stage .photo {
	will-change: auto;
	transform: translateX(0px);
	transition:  transform 1.2s ease-out;
}
.csstransitions .stage full-text {
	will-change: opacity;
	opacity: 0;
}
.csstransitions .load-complete-once .stage full-text {
	will-change: auto;
	opacity: 1;
	transition:  opacity 1.4s ease 0.2s;
}
.csstransitions .stage .bg-blured {
	will-change: transform;
	transform: translateX(10px);
	opacity: 0;
}
.csstransitions .load-complete-once .stage .bg-blured {
	will-change: auto;
	transition:  all 1.6s ease-out 0.1s;
	transform: translateX(0px);
	opacity: 1;
}

.csstransitions .stage .svg-top {
	transition: opacity 0s linear 0.3s;
	opacity: 0;
}
.csstransitions .load-complete-once .stage .svg-top {
	opacity: 1;
}
.csstransitions .stage .svg-bot {
	transition: opacity 0s linear 0.8s;
	opacity: 0;
}
.csstransitions .load-complete-once .stage .svg-bot {
	opacity: 1;
}
.csstransitions .stage #ms1 {
	stroke-dasharray: 1400;
	stroke-dashoffset: 1400;
}
.csstransitions .load-complete-once .stage #ms1 {
	transition: all 0.4s linear 0.3s;
	stroke-dashoffset: 0;
}
.csstransitions .stage #ms2 {
	stroke-dasharray: 1750;
	stroke-dashoffset: 1750;
}
.csstransitions .load-complete-once .stage #ms2 {
	transition: all 0.55s linear 0.75s;
	stroke-dashoffset: 0;
}



.csstransitions .bg-arrow {
	will-change: transform;
	opacity: 0;
	transform: translateX(-10px);
}
.csstransitions .load-complete-once .bg-arrow {
	will-change: auto;
	transition:  all 0.1s linear 0.7s;
	transform: translateX(0px);
	opacity: 1;
}
.csstransitions .stage .scroll-button:before {
	width: 0;
}
.csstransitions .load-complete-once .stage .scroll-button:before {
	transition:  all 0.1s linear 1.75s;
	width: 126px;
}
